.carousel {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: -3;
  overflow: hidden;
  height: 100vh;
  top: 0;
  left: -100px;
  opacity: 25%;
  background-color: black;

  &-picture {
    min-height: 105%;
    width: 105%;
  }

  &-confettis {
    position: fixed !important;
    z-index: -2 !important;
    opacity: 70%;
  }
}

.card {
  // width: 100px;
  /* Ajustez selon vos besoins */
  height: 100%;
  margin-right: 10px;
  /* Espace entre les cartes */
}
