.matchIntro {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  font-family: 'Kimberly Bl', sans-serif;
  animation: fadeOut 0.5s both ease-in-out;
  animation-delay: 5.5s;
  background-color: black;

  &-player1,
  &-player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 1s ease-in-out;
    overflow: hidden;

    & .name {
      margin: 0;
      margin-bottom: 30px;
      font-size: 50px;
      white-space: nowrap;
    }

    & span {
      font-size: 25px;
      white-space: nowrap;
    }
  }

  &-player1 {
    animation: translateFromLeft 1s both ease-in-out;
  }

  &-player2 {
    animation: translateFromRight 1s both ease-in-out;
  }

  &-VS {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    z-index: 1;
    animation: translateFromTop 1.5s both ease-in-out;
    transition: opacity 200ms ease-in-out;
  }

  &-starting {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    animation: fadeSlideFromTop 1.5s both ease-in-out 0.5s;

  }
}

@keyframes fadeSlideFromTop {
  0% {
    transform: translateY(-50px) translateX(-50%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes translateFromRight {
  0% {
    transform: translateX(100%) rotate(2deg);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes translateFromLeft {
  0% {
    transform: translateX(-100%) rotate(-2deg);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes translateFromTop {
  0% {
    top: -100%;
  }

  100% {
    top: 50%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}