.advancedDetails {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  & h1,
  h2,
  h3,
  ul,
  p {
    margin: 0;
    padding: 0;
  }

  & h2 {
    margin-bottom: 5px;
  }

  & h3 {
    margin-top: 10px;
    font-size: 25px;
    text-align: start;
    font-family: 'Kimberly Bl', sans-serif;
  }

  & .card-visual {
    height: 100%;
    margin: 5px 0;
    margin-top: 15px;
  }

  & .details-card-back {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    font-size: 14px;
    transition: transform 150ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 0 0 10px 0;

    & svg {
      margin-right: 2px;
      font-size: 30px;
    }

    &:hover {
      transform: translateX(-5px);
      cursor: pointer;
    }
  }

  ul {
    margin: 5px 0;
    margin-left: 35px;
  }

  & .details-card-effect-container {
    & li {
      transition: font-weight 50ms ease-in-out;
      font-weight: 500;
    }

    & li:hover {
      cursor: pointer;
      font-weight: 800;
    }
  }

  & .details-card-effectsList {
    flex-wrap: nowrap;
    flex-direction: column;
  padding-bottom: 10px;
  }
}
