@import '../../variables.scss';

.details {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 15px;
  z-index: 100;
  border-radius: 15px;
  max-width: 400px;
  border: 3px solid rgb(215, 215, 215);

  &-visual {
    & img {
      width: 100%;
    }
  }

  &-card {
    display: flex;

    &-title,
    &-subtitle,
    &-info,
    &-trait,
    &-rarity {
      font-size: 25px;
      font-family: 'Kimberly Bl', sans-serif;
      text-align: center;
      margin: 0;
    }

    &-subtitle {
      font-size: 20px;
    }

    & p,
    & li,
    & ul {
      margin: 0;
    }

    &-trait {
      font-size: 20px;
    }

    &-list {
      margin-bottom: 5px;
    }

    &-owner {
      margin: 2px auto;
      padding: 0;
      text-align: center;
      border-radius: 15px;
      font-size: 15px;
      width: 70%;
      font-family: 'Kimberly Bl', sans-serif;
    }

    &-list-item-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 700;
      background-color: rgb(210, 51, 51);
      color: white;
      padding: 10px;
      border-radius: 15px;
      margin: 10px;
    }

    &-effectsList {
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
    }

    &-effect {
      flex: 100%;
      display: flex;
      align-items: center;
      margin: 7px 0;

      &-img {
        display: flex;
        flex-direction: column;
        align-items: center;

        & img {
          width: 35px;
          height: 35px;
        }

        &-value {
          font-family: 'Badaboom', sans-serif;
          font-size: 25px;
        }
      }

      &-txt {
        margin-left: 10px;

        & span {
          font-family: 'Kimberly Bl', sans-serif;

          @include for-desktop-up {
            font-size: 15px;
          }

          @include for-big-desktop-up {
            font-size: 18px;
          }
        }

        & p {
          margin: 0;

          @include for-desktop-up {
            font-size: 13px;
          }

          @include for-big-desktop-up {
            font-size: 15px;
          }
        }
      }
    }

    &-afflictions {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 15px 0;

      & ul {}
    }

    &-stats {
      display: flex;
      justify-content: center;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        font-size: 30px;
        font-family: 'Kimberly Bl', sans-serif;

        & img {
          width: 40px;
        }

        & span {
          margin-left: 10px;
        }
      }
    }

    &-info {
      font-size: 16px;
      margin-top: 10px;
      border-radius: 15px;
      padding: 5px;
    }

    &-credits,
    &-more {
      @include for-desktop-up {
        font-size: 13px;
      }

      display: flex;
      justify-content: center;
      font-weight: 700;
    }
  }

  & li {
    font-family: 'Kimberly Bl', sans-serif;
  }
}