@import '../../variables.scss';

.hand {
  position: fixed;
  bottom: -110px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 1;
  border-radius: 15px;
  transition: bottom 70ms ease-in-out;
  justify-content: center; // Centre les cartes
  align-items: flex-start; // Alignement vertical

  &:hover {
    bottom: 0;
  }

  & .card {
    $overlap: -40px; // Chevauchement négatif pour superposer les cartes
    margin-left: $overlap;
    flex-shrink: 0; // Empêche les cartes de rétrécir
    z-index: 1;
    transition: transform 100ms ease-in-out;

    &:first-child {
      margin-left: 0; // Aucun chevauchement pour la première carte
    }

    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        // Ajuster l'angle de rotation si nécessaire

        &:hover {
          z-index: 100;
          transform: translateY(-50px) scale(1.5);
        }
      }
    }
  }
}