@import '../../variables.scss';

.fade-in-out {
  animation: fade-in-out 1.4s ease-in-out both;
}

.scenesMaker {
  &.slideAnim {
    animation: slide-in-out-left 1.8s linear both;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & .scenesMaker {
      &-cards {
        display: flex;
        align-items: center;
      }

      &-icon {
        font-size: 80px;
      }

      &-effectIcon {
        height: 50px;
        height: 50px;
        margin-right: 10px;
      }

      &-value {
        margin-left: 10px;
        font-size: 80px;
      }

      &-card {
        width: 400px;
        margin: 20px;
      }

      &-action {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 35px;
      }

      &-desc {
        max-width: 500px;
        text-align: center;
        margin: 0;
      }
    }
  }

  &.effectAnim {
    animation: slide-in-and-out-left 1.8s linear both;
    position: absolute;
    top: 12.5%;
    left: 0;
    background-color: $black;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-family: 'Kimberly Bl', sans-serif;
    padding: 5px 10px;
    z-index: 10;
    border: white 3px solid;
    & .scenesMaker-card {
      animation: golden-aura 1.8s linear both;
    }
    & .scenesMaker {
      &-cards {
        display: flex;
        align-items: center;
      }

      &-values {
        display: flex;
      }

      &-icon {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin: 0 10px;
      }

      &-effectIcon {
        height: 40px;
        height: 40px;
      }

      &-value {
        font-size: 30px;
        margin-left: 5px;
      }

      &-targets {
        margin-left: 5px;
        display: flex;
      }

      &-card {
        top: -10px;
        position: absolute;
        width: 100%;
        height: 100px;
        object-fit: cover;
        &-container {
          position: relative;
          border-radius: 10px;
          border: 3px white solid;
          width: 50px;
          height: 50px;
          overflow: hidden;
          margin: 0 5px;
        }
      }

      &-action {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin: 0 5px;
      }
    }
  }
}
