@import '../../variables.scss';

.fade-in-out {
  animation: fade-in-out 1.4s ease-in-out both;
}

.scenesMaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.slideAnim {
    animation: slide-in-out-left 1.2s linear both;
  }

  &.effectAnim {
    animation: scale-in-out-center 1.2s linear both;

    & .scenesMaker-card {
      animation: golden-aura 1.2s linear both;
    }
  }




  &-cards {
    display: flex;
    align-items: center;
  }

  &-icon {
    font-size: 80px;
  }

  &-effectIcon {
    height: 50px;
    height: 50px;
    margin-right: 10px;
  }

  &-value {
    margin-left: 10px;
    font-size: 80px;
  }

  &-card {
    width: 400px;
    margin: 20px;
  }

  &-action {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 35px;
  }

  &-desc {
    max-width: 500px;
    text-align: center;
    margin: 0;
  }
}