@import '../../variables.scss';

.turnTracker {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 0;

  transform: translateX(-50%) translateY(-90px);
  font-family: 'Kimberly Bl', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
  border-radius: 0 0 10px 10px;
  transition: transform 200ms ease-in-out;
  border: rgb(255, 255, 255) 4px solid;
  border-top: none;
  background-color: $black;
  width: 300px;

  &:hover {
    transform: translateX(-50%) translateY(0px);
    cursor: default;
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90px;
    font-size: 13px;
    transition:
      border 200ms ease-in-out,
      width 200ms ease-in-out;
  }

  &-phases {
    width: 100%;
    text-align: center;
    padding: 7px 0;
    border-radius: 0 0 5px 5px;
  }

  &-order {
    font-size: 13px;
  }

  &-activePlayer {
    font-size: 20px;
  }
}
