@import '../../variables.scss';

.tutorial {
  padding: 0 5px;

  & p {
    margin: 10px 0;
    font-size: 15px;
    line-height: 30px;
  }

  & h2 {
    margin: 0;
    margin-top: 10px;
    font-size: 25px;
  }

  & ul {
    margin: 5px 0;
    padding-left: 10px;

    & li {
      display: flex;
      align-items: center;
      list-style-type: disc;
      font-size: 18px;
      margin: 10px 0;

      & svg {
        margin-right: 5px;
      }
    }
  }
}
