.menuFooter {
  display: flex;
  // position: fixed;
  align-items: center;
  width: calc(100% - 100px);
  justify-content: space-between;
  padding: 0 50px;
  padding-bottom: 15px;
  // transform: translateX(-50%);
  font-family: 'Kimberly Bl', sans-serif;
  font-size: 17px;
  height: calc(7% - 15px);
  & nav {
    display: flex;
  }
}