.menuFooter {
  display: flex;
  position: fixed;
  align-items: center;
  width: calc(95vw);
  justify-content: space-between;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Kimberly Bl', sans-serif;
  font-size: 13px;
  height: 5vh;
  & nav {
    display: flex;
  }
}