@import '../variables.scss';

.musicPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  @include for-big-desktop-up {
    margin: 20px; // Example adjustment for larger screens
  }

  &-infos {
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    font-family: 'Kimberly Bl', sans-serif;

    @include for-big-desktop-up {
      width: 300px; // Example adjustment for larger screens
      font-size: 15px; // Example adjustment for larger screens
    }

    &.active span {
      animation: textTranslate 15s linear infinite;
    }
  }

  & span {
    display: inline-block;

    @include for-big-desktop-up {
      font-size: 1.2em; // Example adjustment for larger screens
    }
  }

  &-controller {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;


    &-slider {
      margin-top: 5px;
      width: 50%;

      @include for-big-desktop-up {
        width: 60%; // Example adjustment for larger screens
        margin-top: 10px; // Example adjustment for larger screens
      }
    }

    & button {
      background-color: transparent;
      border: none;
      margin: 5px;
      padding: 0;
      height: 30px;
      width: 30px;
      transition: transform 200ms ease-in-out;

      @include for-big-desktop-up {
        height: 40px;
        width: 40px;

        & svg {
          height: 30px;
          width: 30px;
        }
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}