@import '../variables.scss';

.musicPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;



  &-infos {
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    font-family: 'Kimberly Bl', sans-serif;

    &.active span {
      animation: textTranslate 15s linear infinite;
    }
  }

  & span {
    display: inline-block;
  }

  &-controller {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-slider {
      margin-top: 5px;
      width: 50%;
    }

    & button {
      background-color: transparent;
      border: none;
      margin: 5px;
      padding: 0;
      height: 30px;
      width: 30px;
      transition: transform 200ms ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}

@keyframes textTranslate {
  from {
    transform: translateX(100%);
    /* Démarre de l'extérieur du cadre à droite */
  }

  to {
    transform: translateX(-100%);
    /* Termine à l'extérieur du cadre à gauche */
  }
}