.leaderboardPlayerBanner {


    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    // overflow: hidden;




    &-banner {
        position: absolute;
        left: 90px;
        max-width: 300px;
        width: 100%;
        height: 75px;
        // object-fit: cover;
        opacity: 0.5;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 100%);
        transition: opacity 150ms ease-in-out;
    }

    &.reverse &-banner {
        transform: scaleX(-1);
        left: 15px;
        // right: 90px;
        // background-color: red !important;
    }

    &.reverse &-content {
        align-items: flex-end;
    }

    &:hover {
        cursor: url('../../assets/svg/pointer.svg'), auto;
    }

    &:hover &-banner {
        opacity: 1;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Kimberly Bl', sans-serif;
        z-index: 1;
        max-width: 200px;
        & .name {
            font-size: 30px;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        & .title {
            font-size: 17px;
        }
    }


}