.leaderboardPlayerBanner {


    display: flex;
    position: relative;
    align-items: center;
    width: 100%;





    &-banner {
        position: absolute;
        left: 75px;
        width: calc(100% - 7px);
        height: 75px;
        object-fit: cover;
        // opacity: 0.9;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        transition: opacity 150ms ease-in-out;
    }

    &.reverse &-banner {
        transform: scaleX(-1);
        left: 0;
        right: 75px;
    }

    &.reverse &-content {
        align-items: flex-end;
    }

    &:hover {
        cursor: pointer;

    }

    &:hover &-banner {
        opacity: 1;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Kimberly Bl', sans-serif;
        z-index: 1;

        & .name {
            font-size: 30px;
        }

        & .title {
            font-size: 17px;
        }
    }


}