.rankedInfos {
    font-family: 'Kimberly Bl', sans-serif;
    overflow: auto;

    & h1,
    h2,
    h3 {
        height: auto;
        margin: 0;
    }

    &-wrapper {
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-header {
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & h1 {
            font-size: 25px;

        }

        & h2 {
            font-size: 15px;
        }
    }

    &-ranks {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;

        &-item {
            border-radius: 15px;
            flex: calc(20% - 10px) 0 0;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & h2 {
                font-size: 30px;

            }

            & span {
                font-size: 15px;
            }

        }
    }

    &-rewards {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 5px 0;

        &-item {
            border-radius: 15px;
            flex: calc(20% - 10px) 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


        }
    }

    &-myRank {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        & h3 {
            margin-bottom: 5px;
        }
    }

    .achievements-levels-item,
    .xp-progress-background {
        height: 100px;
        width: 100%;
        background-color: transparent !important;
    }

}