// Card shines
.foil .img-container {
  clip-path: url(#myClip);
  background: linear-gradient(48deg,
      #e3c1f46d,
      #d9d7ed6d,
      #dff7f16d,
      #acf0ff6d,
      #e3c1f46d,
      #d9d7ed6d,
      #dff7f16d,
      #acf0ff6d,
      #e3c1f46d,
      #d9d7ed6d,
      #dff7f16d,
      #acf0ff6d,
      #e3c1f46d);
  /* Répéter les couleurs pour doubler la longueur */
  animation: foil 2s linear infinite;
  background-size: 400% 400%;
  /* Agrandir pour permettre un défilement fluide */

  img {
    mix-blend-mode: overlay;
  }
}

@keyframes foil {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.img-container {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: stretch;
}

.metal .img-container {
  &::before {
    position: absolute;
    top: -100px;
    left: 0;
    width: 15%;
    filter: blur(10px) brightness(1.2);
    height: calc(100% + 100px);
    transform: rotate(10deg);
    content: '';
    background: radial-gradient(ellipse farthest-corner at right bottom,
        #c0c0c0 0%,
        #a8a8a8 40%,
        transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #e6e6e6 0%, #b0b0b0 62.5%, #b0b0b0 100%);

    animation: gold-foil 5s ease-in-out infinite;
    mix-blend-mode: overlay;
  }

  &::after {
    position: absolute;
    top: -100px;
    left: 0;
    width: 7%;
    filter: blur(10px) brightness(1.2);
    height: calc(100% + 100px);
    transform: rotate(10deg);
    content: '';
    background: radial-gradient(ellipse farthest-corner at right bottom,
        #c0c0c0 0%,
        #a8a8a8 40%,
        transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #e6e6e6 0%, #b0b0b0 62.5%, #b0b0b0 100%);
    animation: gold-foil 5s ease-in-out infinite;
    animation-delay: 70ms;
    mix-blend-mode: overlay;
  }
}

.gold .img-container {
  &::before {
    position: absolute;
    top: -100px;
    left: 0;
    width: 15%;
    filter: blur(10px) brightness(2.5);
    height: calc(100% + 100px);
    transform: rotate(10deg);
    content: '';
    background: radial-gradient(ellipse farthest-corner at right bottom,
        #9f7928 0%,
        #8a6e2f 40%,
        transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #d1b464 0%, #5d4a1f 62.5%, #5d4a1f 100%);
    animation: gold-foil 5s ease-in-out infinite;
    mix-blend-mode: overlay;
  }

  &::after {
    position: absolute;
    top: -100px;
    left: 0;
    width: 7%;
    filter: blur(10px) brightness(3);
    height: calc(100% + 100px);
    transform: rotate(10deg);
    content: '';
    background: radial-gradient(ellipse farthest-corner at right bottom,
        #9f7928 0%,
        #8a6e2f 40%,
        transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #d1b464 0%, #5d4a1f 62.5%, #5d4a1f 100%);
    animation: gold-foil 5s ease-in-out infinite;
    animation-delay: 70ms;
    mix-blend-mode: overlay;
  }
}

@keyframes gold-foil {
  0% {
    left: -150%;
  }

  30% {
    // filter: brightness(2);

    left: 150%;
  }

  100% {
    left: 150%;
  }
}

@keyframes shiner {

  0%,
  100% {
    filter: brightness(1) saturate(1);
  }

  50% {
    filter: brightness(1.1) saturate(1.05);
  }
}

@keyframes shine {
  0% {
    opacity: 0;
    top: -110%;
    left: -210%;
  }

  50% {
    opacity: 0.7;
    top: -40%;
    left: -40%;
  }

  100% {
    opacity: 0;
    top: -40%;
    left: -40%;
  }
}



// Couleurs animés
.rainbow {
  animation: rainbow 20s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow {

  100%,
  0% {
    background-color: hsl(0, 100%, 75%);
    border-color: hsl(0, 100%, 75%);
  }

  8% {
    background-color: hsl(30, 100%, 70%);
    border-color: hsl(30, 100%, 70%)
  }

  16% {
    background-color: hsl(60, 100%, 75%);
    border-color: hsl(60, 100%, 75%);
  }

  25% {
    background-color: hsl(90, 100%, 70%);
    border-color: hsl(90, 100%, 70%);
  }

  33% {
    background-color: hsl(120, 100%, 75%);
    border-color: hsl(120, 100%, 75%);
  }

  41% {
    background-color: hsl(150, 100%, 70%);
    border-color: hsl(150, 100%, 70%);
  }

  50% {
    background-color: hsl(180, 100%, 75%);
    border-color: hsl(180, 100%, 75%);
  }

  58% {
    background-color: hsl(210, 100%, 70%);
    /* More pastel sky blue */
  }

  66% {
    background-color: hsl(231, 90%, 70%);
    /* More pastel blue */
  }

  75% {
    background-color: hsl(270, 100%, 70%);
    /* More pastel violet */
  }

  83% {
    background-color: hsl(300, 100%, 75%);
    /* More pastel magenta */
  }

  91% {
    background-color: hsl(330, 100%, 70%);
    /* More pastel rose */
  }
}


.name {
  -webkit-text-stroke: 1.3px black;

}

.title {
  -webkit-text-stroke: 1px black;
  color: rgb(222, 222, 222);
}

.name,
.title {
  max-height: 35px;
  display: inline-block;
}

// Textes animés
.prestige {
  position: relative;

  & div {
    background-size: 400% 50% !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    animation: prestige_animation 10s ease-in-out infinite !important;
    color: transparent;
    position: relative;

    &.prestige {

      &-default {
        background:
          white;
      }

      &-promo {
        background: linear-gradient(48deg,
            #e3c1f4,
            #d9d7ed,
            #dff7f1,
            #acf0ff,
            #e3c1f4,
            #d9d7ed,
            #dff7f1,
            #acf0ff,
            #e3c1f4,
            #d9d7ed,
            #dff7f1,
            #acf0ff,
            #e3c1f4);
      }

      &-gold {
        background: linear-gradient(48deg,
            #f6e27a,
            #f9c55d,
            #e0a424,
            #d4af37,
            #f9c55d,
            #f6e27a,
            #f9c55d,
            #d4af37,
            #f9c55d,
            #f6e27a);
      }

      &-ocean {
        background: linear-gradient(48deg,
            #00c6ff,
            #0072ff,
            #00c6ff,
            #0072ff,
            #00c6ff,
            #0072ff,
            #00c6ff,
            #0072ff);
      }

      &-forest {
        background: linear-gradient(48deg,
            #a8e063,
            #56ab2f,
            #a8e063,
            #56ab2f,
            #a8e063,
            #56ab2f,
            #a8e063,
            #56ab2f);
      }

      &-sunset {
        background: linear-gradient(48deg,
            #ff6a88,
            #ffcc00,
            #ff6a88,
            #ffcc00,
            #ff6a88,
            #ffcc00,
            #ff6a88,
            #ffcc00);
      }

      &-neon {
        background: linear-gradient(48deg,
            #f953c6,
            #59ebf3,
            #f953c6,
            #59ebf3,
            #f953c6,
            #59ebf3,
            #f953c6,
            #59ebf3);
      }

      &-ice {
        background: linear-gradient(48deg,
            #00f260,
            #0575e6,
            #00f260,
            #0575e6,
            #00f260,
            #0575e6,
            #00f260,
            #0575e6);
      }

      &-metal {
        background: linear-gradient(48deg,
            #bdc3c7,
            #89a1b9,
            #bdc3c7,
            #89a1b9,
            #bdc3c7,
            #89a1b9,
            #bdc3c7,
            #89a1b9);
      }

      &-redAlpha {
        background: linear-gradient(48deg,
            #ffa5a5,
            /* Rouge clair */
            #ff5b5e,
            /* Rouge un peu plus foncé */
            #ffa5a5,
            #ff5b5e,
            #ffa5a5,
            #ff5b5e,
            #ffa5a5,
            #ff5b5e);
      }

      &-blueAlpha {
        background: linear-gradient(48deg,
            #7bc6ff,
            /* Bleu clair */
            #b5d2ff,
            /* Bleu un peu plus foncé */
            #7bc6ff,
            #b5d2ff,
            #7bc6ff,
            #b5d2ff,
            #7bc6ff,
            #b5d2ff);
      }


    }
  }
}







@keyframes prestige_animation {

  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}