@import 'variables.scss';

.Toastify__toast {
  border-radius: 5px !important;
  background: rgba(0, 0, 0, 0.9) !important;
  @include greyBorders();
  min-width: 350px;

  // transform: translateX(-30px);
  &:hover {
    cursor: url('../assets/svg/pointer.svg'), auto;
  }
}

.Toastify__close-button {
  margin: auto 0 !important;
  width: 24px;
}