$red: #e62e31;
$blue: #40a8f5;

$confettis: #e62e31, #40a8f5, #d3af21, #ad39d3, #f8b8eb, #c1621e, #4fb56c;

$black: rgba(0, 0, 0, 0.7);
$grey: rgb(37, 37, 37);

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 2000px) {
    @content;
  }
}

@mixin greyBorders {
  border: 3px solid $grey;
  transition: all 200ms ease-in-out;

  &:hover {
    border: 3px solid white;
  }
}

@mixin whiteHovering {
  &:hover {
    background-color: white;
    color: black;
    cursor: url('../assets/svg/pointer.svg'), auto;
  }
}

@mixin txt-rarities {
  .txt-rarity-1 {
    background: linear-gradient(to bottom, #1ddb69 0%, #1f9c00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .txt-rarity-2 {
    background: linear-gradient(to bottom, #184d94 0%, #66a3ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .txt-rarity-3 {
    background: linear-gradient(to bottom, #73367d 0%, #e561ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .txt-rarity-4 {
    text-shadow: 0 0 10px rgba(255, 217, 0, 0.682);
    background: linear-gradient(to bottom, #fea500 0%, #8e5612 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .txt-rarity-5 {
    background: linear-gradient(to bottom, #ff0000 0%, #820d0b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin bg-rarities {
  &.bg-rarity-1 {
    background: linear-gradient(to bottom, #1ddb69 0%, #1f9c00 100%);
  }

  &.bg-rarity-2 {
    background: linear-gradient(to bottom, #184d94 0%, #66a3ff 100%);
  }

  &.bg-rarity-3 {
    background: linear-gradient(to bottom, #73367d 0%, #e561ff 100%);
  }

  &.bg-rarity-4 {
    background: linear-gradient(to bottom, #d1a215 0%, #b97105 100%);
  }

  &.bg-rarity-5 {
    background: linear-gradient(to bottom, #ff0000 0%, #820d0b 100%);
  }
}