@import '../variables.scss';

.effects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(85vh - 40px);
  overflow-y: scroll;
  padding: 20px;
  font-family: 'Kimberly Bl', sans-serif;

  &-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
  }

  & h1 {
    margin-bottom: 10px;
  }

  & .hudNavLink {
    position: absolute;
    z-index: 1;
  }

  & .close {
    top: 50px;
    right: 20px;
  }

  & .previous {
    left: 20px;
  }

  & .next {
    right: 20px;
  }

  & h2 {
    display: inline-flex;
    align-items: center;
    margin: 10px 0 0 20px;
    font-family: 'Kimberly Bl', sans-serif;
    font-size: 35px;
    transition:
      color 250ms ease-in-out,
      background-color 200ms ease-in-out;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 30px;

    & img {
      height: 50px;
      margin-right: 15px;
    }

    &:hover {
      cursor: pointer;
      background-color: white;
      color: black;

      & img {
        mix-blend-mode: difference;
      }
    }

    &.active {
      background-color: white;
      color: black;

      & img {
        mix-blend-mode: difference;
      }
    }
  }

  &-category {
    padding: 20px 50px;
    margin: 10px;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    font-size: 30px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

    & img {
      margin-right: 10px;
      transition: mix-blend-mode 200ms ease-in-out;
    }

    &:hover {
      color: black;
      background-color: white;
      cursor: pointer;

      & img {
        mix-blend-mode: difference;
      }
    }
  }

  &-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 5px;
    list-style-type: none;
    overflow-y: hidden;
    transition: height 0.2s ease-in-out;
    width: 80%;

    &-item {
      margin: 10px;

      & span {
        font-family: 'Kimberly Bl', sans-serif;
        margin: 2px 0;
        font-size: 18px;
        text-align: center;
      }

      & p {
        margin: 0;
        text-align: center;
        font-size: 13px;
        padding: 5px;
      }

      &-card {
        background-color: rgba(0, 0, 0, 0.4);
        @include greyBorders();
        border-radius: 15px;
        transition:
          background-color 200ms ease-in-out,
          transform 200ms ease-in-out,
          border 200ms ease-in-out;

        &-container {
          height: 150px;
          width: 250px;
        }

        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.8);
        }
      }

      &-recto,
      &-verso {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100% - 10px);

        img {
          width: 60px;
        }
      }
    }
  }

}