@import '../variables.scss';
// @import "~slick-carousel/slick/slick.css";
// @import "~slick-carousel/slick/slick-theme.css";

.home {
  flex-direction: column;
  display: flex;
  justify-content: center;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kimberly Bl', sans-serif;

    &-gm {
      display: flex;
    }

    & a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-logo {
    width: 150px;

    @include for-tablet-landscape-up {
      width: 200px;
    }

    padding: 0 10px;
    margin-bottom: 40px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  &-button {
    width: 300px;
    text-transform: uppercase;
  }

  &-create {
    margin-top: 50px;
    text-align: center;
    height: 600px;

    & img {
      height: 100%;
      width: 100%;
    }
  }

  &-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-input {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: 0.75fr repeat(2, 1.2fr) 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 95vw;
    height: 75vh;
    margin-top: 5px;

    &-item {
      border-radius: 5px;
      border: 3px rgba(255, 255, 255, 0.085) solid;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: border 150ms ease-in-out;

      &-content.grid-link {
        display: flex;
        align-self: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        & a {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
        }

        & .grid-link-button {
          margin: 10px 0;
          border-radius: 3px;
          border: white solid 2px;
          padding: 5px 30px;
          text-shadow: none;
          background-color: rgba(255, 255, 255, 0.05);
          transition:
            background-color 200ms ease-in-out,
            color 200ms ease-in-out;
          font-size: 15px;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }

      & h1 {
        font-size: 25px;
        display: block;
        transition: transform 200ms ease-in-out;
        margin: 0;
        text-transform: uppercase;
      }

      & span,
      h1,
      h2 {
        text-shadow:
          2px 0 #000000d5,
          -2px 0 #000000d5,
          0 2px #000000d5,
          0 -2px #000000d5,
          1px 1px #000000d5,
          -1px -1px #000000d5,
          1px -1px #000000d5,
          -1px 1px #000000d5;
      }

      & span {
        font-size: 20px;

        &.date {
          font-size: 17px;
        }
      }

      &-bg {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        object-fit: contain;
        transition: all 150ms ease-in-out;
        z-index: -1;
        opacity: 80%;
        transition:
          transform 500ms ease-out,
          opacity 400ms ease-in-out;
      }

      &:hover &-bg {
        opacity: 100%;
        transform: scale(1.07);
      }

      &.grid-button {
        &.active {
          box-shadow: rgb(255, 172, 7, 0.5) 0 0 40px;
        }

        &:hover {
          border-color: rgba(255, 255, 255, 0.4);
          cursor: pointer;
        }
      }
    }
  }

  .grid-playerCount {
    grid-area: 6 / 1 / 7 / 2;
  }

  .grid-leaderboard {
    grid-area: 1 / 1 / 6 / 2;
    display: block;
    padding: 5px;
    padding-top: 15px;
    overflow: auto;

    &-content {
      width: 100%;
    }

    &-user {
      display: flex;
      align-items: center;
      margin: 20px 0;
      width: 100%;

      & .rank {
        font-size: 25px;
        font-weight: bold;
        width: 30px;
        /* Vous pouvez également envisager d'utiliser min-width ici si nécessaire */
      }

      &-infos {
        text-align: start;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        overflow: hidden;

        & h2,
        & span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          min-width: 0;
          flex-shrink: 1;
        }

        & h2 {
          font-size: 16px;
          margin: 0;
        }

        & span {
          font-size: 13px;
        }
      }
    }
  }

  .grid-featured {
    grid-area: 1 / 4 / 7 / 5;
    padding: 20px 10px;

    & .home-grid-item-content {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &-carousel {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      margin-top: 15px;

      /* Ajustez selon vos besoins */
      &-item {
        display: flex;
        align-items: center;
        flex-direction: column;

        &:hover {
          cursor: pointer;
        }
      }

      & h1,
      & h2,
      & span {
        margin: 0;
        text-align: center;
        width: 90%;
      }

      & h2 {
        font-size: 18px;
      }

      & span {
        font-size: 15px;
      }

      & .tilt {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & .img-container {
        background-color: red;
        max-width: 95%;
        // background-color: ;
        margin: 15px 0;
      }

      & img {
        width: 100%;
      }

      &-transition {
        &-enter {
          opacity: 0;
          transform: translate(-500px);
        }

        &-enter-active {
          opacity: 1;
          transition:
            opacity 500ms,
            transform 500ms;
          transform: translate(0);
        }

        &-exit {
          opacity: 1;
          transition:
            opacity 500ms,
            transform 500ms;
          transform: translate(0);
        }

        &-exit-active {
          opacity: 0;
          transform: translate(500px);
        }
      }
    }
  }

  .grid-news {
    grid-area: 5 / 2 / 7 / 4;
  }

  .grid-qp {
    grid-area: 1 / 2 / 3 / 3;
  }

  .grid-custom {
    grid-area: 1 / 3 / 3 / 4;
  }

  .grid-ranked {
    grid-area: 3 / 2 / 5 / 3;
  }

  .grid-tuto {
    grid-area: 4 / 3 / 5 / 4;
  }

  .grid-bot {
    grid-area: 3 / 3 / 4 / 4;
  }
}