@import '../variables.scss';


.home {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;

  &-verName {
    font-family: 'Kimberly Bl', sans-serif;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
  }

  &-music {
    position: absolute;
    top: 20px;
    right: 50px;
    opacity: 0.8;
    transition: opacity 200ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;

    @include for-big-desktop-up {
      right: 100px; // Example adjustment for larger screens
    }

    display: flex;
    align-items: center;
    height: 50px;

    &:hover {
      opacity: 1;
    }

    &-wrapper {
      display: inline-block;
      max-width: 0;
      white-space: nowrap;
      overflow: hidden;
      transition: max-width 200ms ease-in-out, opacity 500ms ease-in-out;
      opacity: 0;
    }

    &:hover {
      & .home-music-wrapper {

        max-width: 400px;
        opacity: 1;
      }
    }

    & .disc {
      &.rotate {
        animation: rotation 2s linear infinite both;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Kimberly Bl', sans-serif;

    & button {
      width: 100%;
      margin: 3px;
    }

    & a:hover {
      text-decoration: underline;
    }

    & h1 {
      margin-bottom: 10px;
    }
  }

  &-playerCount {
    position: absolute;
    top: 100px;
    right: 50px;
    font-family: 'Kimberly Bl', sans-serif;
    font-size: 25px;
    // display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;

    & svg {
      margin-right: 7px;
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &:hover &-list {
      // display: flex;
      max-height: 200px;
      width: 100px;
    }

    white-space: nowrap;

    &-list {
      max-height: 0;
      width: 0;
      overflow-y: auto;
      overflow-x: hidden;
      margin-top: 5px;
      font-size: 17px;
      transition: max-height 120ms ease-in-out, width 300ms ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-item {
        margin: 2.5px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  &-playerBanner {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 400px;
    opacity: 1;
  }

  &-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &-nav {
    padding-left: 50px;
    display: flex;
    flex-direction: column;

    @include for-big-desktop-up {
      padding-left: 100px; // Example adjustment for larger screens
    }

    & .logo {
      width: 350px;
      animation: float 6s ease-in-out infinite;

      @include for-big-desktop-up {
        width: 550px; // Example adjustment for larger screens
      }
    }

    & nav {
      margin-top: 10px;
      text-align: start;
      display: flex;
      flex-direction: column;

      @include for-big-desktop-up {
        margin-top: 20px; // Example adjustment for larger screens
      }

      & a:nth-child(1),
      a:nth-child(2),
      a:nth-child(3) {
        font-size: 3em;

        @include for-big-desktop-up {
          font-size: 4em; // Example adjustment for larger screens
        }
      }

      & a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.5em;
        padding: 0;
        margin-bottom: 15px;
        transition: transform 200ms ease-in-out;

        @include for-big-desktop-up {
          // font-size: 2.5em; // Example adjustment for larger screens
        }

        & svg {
          margin-right: 10px;
        }

        & .profilePic {
          margin: 0;
          margin-right: 10px;
        }

        &:hover {
          transform: translateX(10px);
          cursor: pointer;
        }
      }
    }
  }

  &-form {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include for-big-desktop-up {
      width: 500px; // Example adjustment for larger screens
    }

    &-input {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &-secondary {
    padding-right: 50px;
    padding-top: 100px;
    height: calc(100% - 100px);
    align-items: flex-end;
    justify-content: flex-end;

    @include for-big-desktop-up {
      padding-right: 100px;
    }
  }

  &-featured,
  &-socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    flex-direction: column;
    font-family: 'Kimberly Bl', sans-serif;

    &:hover {
      opacity: 1;
    }

    &:hover span {
      opacity: 1;
    }

    & span {
      transition: opacity 200ms ease-in-out;
      opacity: 0.5;
      margin-bottom: 5px;
      font-size: 20px;
    }

    & img {
      width: 90px;
      margin: 0 5px;
      opacity: 0.5;
      transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        opacity: 1;
      }
    }
  }

  &-socials {
    &-list {
      margin-top: 5px;
      height: 65px;
      width: 400px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      overflow: hidden;

      @include for-big-desktop-up {
        height: 120px;
        width: 600px; // Example adjustment for larger screens
      }

      &-item {
        flex: 33%;
        height: 100%;
        transition: opacity 250ms ease-in-out;
        opacity: 0.6;
        filter: grayscale(25%);

        &:hover {
          opacity: 1;
          filter: grayscale(0);
        }

        & svg {
          width: 35px;
          height: 35px;
        }

        &:nth-child(1) {
          background-color: #1da0f2;

        }

        &:nth-child(2) {
          background-color: #7289da;


        }

        &:nth-child(3) {
          background-color: #ff0000;


        }
      }
    }
  }

  &-news {
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 120px;
    width: 400px;
    margin-bottom: 50px;
    transition: opacity 200ms ease-in-out;

    @include for-big-desktop-up {
      height: 200px;
      width: 600px; // Example adjustment for larger screens
    }

    &:hover {
      opacity: 1;

      & img {
        transform: scale(1.025);
      }
    }

    & .loading {
      object-fit: contain;
      width: 100%;
      height: 90px;
      background-color: rgba(128, 128, 128, 0.2);
    }

    & span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      margin-bottom: 10px;
      font-size: 20px;

      @include for-big-desktop-up {
        font-size: 25px;
      }
    }

    & img {
      height: 80px;
      object-fit: cover;
      width: 100%;
      border-radius: 10px;
      transition: transform 200ms ease-in-out;

      @include for-big-desktop-up {
        height: 150px; // Example adjustment for larger screens
      }
    }
  }
}

.error-message {
  margin: 5px 0;
  font-size: 14px;
  color: rgb(226, 14, 14);
}