@import '../variables.scss';

.home {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;

  .musicPlayer {
    position: absolute;
    top: 20px;
    right: 50px;
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;

    @include for-big-desktop-up {
      right: 100px; // Example adjustment for larger screens
    }

    &:hover {opacity: 1;}
  }

  &-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &-nav {
    padding-left: 50px;
    display: flex;
    flex-direction: column;

    @include for-big-desktop-up {
      padding-left: 100px; // Example adjustment for larger screens
    }

    & .logo {
      width: 400px;

      @include for-big-desktop-up {
        width: 550px; // Example adjustment for larger screens
      }
    }

    & nav {
      margin-top: 10px;
      text-align: start;
      display: flex;
      flex-direction: column;

      @include for-big-desktop-up {
        margin-top: 20px; // Example adjustment for larger screens
      }

      & a:nth-child(1) {
        font-size: 3.5em;

        @include for-big-desktop-up {
          font-size: 4.5em; // Example adjustment for larger screens
        }
      }

      & a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.8em;
        padding: 10px;
        transition: transform 200ms ease-in-out;

        @include for-big-desktop-up {
          // font-size: 2.5em; // Example adjustment for larger screens
        }
        & svg {
          margin-right: 10px;
        }

        & .profilePic {
          margin: 0;
          margin-right: 10px;
        }
        &:hover {
          transform: translateX(10px);
          cursor: pointer;
        }
      }
    }
  }

  &-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-big-desktop-up {
      width: 500px; // Example adjustment for larger screens
    }

    &-input {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &-secondary {
    padding-right: 50px;
    padding-top: 100px;
    height: calc(100% - 100px);
    align-items: flex-end;
    justify-content: flex-end;
    @include for-big-desktop-up {
      padding-right: 100px;
    }
  }
  
  &-featured {
    transform: translate();
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    flex-direction: column;
    font-family: 'Kimberly Bl', sans-serif;
    &:hover {
      opacity: 1;
    }

    &:hover span {
      opacity: 1;
    }

    & span {
      transition: opacity 200ms ease-in-out;
      opacity: 0.5;
      margin-bottom: 5px;
      font-size: 20px;
    }

    & img {
      width: 90px;
      margin: 0 5px;
      opacity: 0.5;
      transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        opacity: 1;
      }
    }
  }

  &-news {
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 120px;
    width: 400px;
    margin-bottom: 50px;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;

    @include for-big-desktop-up {
      height: 200px;
      width: 600px; // Example adjustment for larger screens
    }

    &:hover {
      transform: scale(1.05);
      opacity: 1;
    }

    & .loading {
      object-fit: contain;
      width: 100%;
      height: 120px;
      background-color: rgba(128, 128, 128, 0.2);
    }

    & span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      margin-bottom: 10px;
      font-size: 20px;

      @include for-big-desktop-up {
font-size: 25px;      }
    }

    & img {
      height: 80px;
      object-fit: cover;
      width: 100%;
      border-radius: 10px;

      @include for-big-desktop-up {
        height: 150px; // Example adjustment for larger screens
      }
    }
  }
}

.error-message {
  margin: 5px 0;
  font-size: 14px;
  color: rgb(226, 14, 14);
}
