.leaderboard {
    display: flex;
    justify-content: center;
    height: 100%;

    &-loading {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-wrapper {
        background-color: rgba(0, 0, 0, 0.368);
        display: flex;
        padding: 20px;
        border-radius: 15px;
        width: 100%;
        height: calc(90% - 40px);
        margin: 20px;
    }

    &-control {
        padding: 0 30px;
        width: calc(35% - 60px);

        .hudNavLink {
            margin-top: 10px;

            & span {
                font-size: 25px;
            }
        }
    }

    &-content {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        width: 75%;
    }



    &-rank {
        font-size: 30px;
        margin-right: 10px;
        font-family: 'Kimberly Bl', sans-serif;
        display: block;
        min-width: 30px;
        text-align: center;
    }

    &-self {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 30px;
    }

    &-list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;

        &-item {
            margin: 10px 0;
            display: flex;
            align-items: center;

            &-bannerWrapper {
                // background-color: red;
                width: 475px;
            }
        }
    }

    & .stats {
        margin-left: auto;
        background-color: rgba(122, 122, 122, 0.2);
        font-family: 'Kimberly Bl', sans-serif;
        padding: 5px 40px;
        border-radius: 10px;
        font-size: 20px;

    }

    & .value {
        transform: translateX(-20px);
        width: 150px;
        text-align: center;
    }

    & .leaderboardPlayerBanner-banner {
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
    }
}