.leaderboard {
    padding: 20px;
    display: flex;
    justify-content: center;
    height: calc(90% - 80px);

    &-content {
        margin: 0 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 500px;
        padding: 20px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.368);

        &>h1 {
            font-family: 'Kimberly Bl', sans-serif;
            text-align: center;
            font-size: 30px;
            margin-bottom: 10px;
        }
    }

    &-rank {
        font-size: 30px;
        margin-right: 10px;
        font-family: 'Kimberly Bl', sans-serif;
        display: block;
        min-width: 30px;
        text-align: center;
    }

    &-self {
        display: flex;
        align-items: center;
        width: 505px;
        padding-top: 30px;
    }

    &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;

        &-item {
            margin: 10px 0;
            display: flex;
            align-items: center;
            width: 500px;

        }
    }

    & .value {
        transform: translateX(-20px);
        font-size: 20px;
        font-family: 'Kimberly Bl', sans-serif;
    }
}