@import '../variables.scss';

.lobby {
  display: flex;
  align-items: center;
  height: 100vh;

  & h1,
  h2,
  h3 {
    font-family: 'Kimberly Bl', sans-serif;
    margin: 0;
  }

  & h1 {
    margin: 5px 0;
  }

  & h3 {
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;

    & svg {
      margin-right: 5px;
    }
  }

  & hr {
    width: 100%;
    margin-bottom: 20px;
  }

  &-controls {
    padding: 20px;
    width: 35%;
    height: calc(100% - 40px);
    background-color: $black;
    display: flex;
    flex-direction: column;

    &-buttons {
      display: flex;
      flex-direction: column;
      margin-bottom: auto;

      & button {
        margin: 5px 0;
      }
    }
  }

  &-settings {
    display: flex;
    flex-direction: column;

    &-item {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;

      & span {
        font-family: 'Kimberly Bl', sans-serif;
        margin-bottom: 10px;
        font-size: 20px;
      }

      & button {
        width: 100%;
        margin: 0;
      }
    }
  }

  &-players {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Kimberly Bl', sans-serif;

    &-name {
      margin: 5px 0;
    }

    &-versus {
      margin: 0 30px;
      font-size: 60px;
      transform: rotate(-5deg);
    }

    &-item {
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 30px;
      }
    }
  }
}

.arenaPicker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 100%;
  padding: 20px 100px;

  &-item {

    margin: 8px; // Réduction de la margin
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 135px; // Réduction de la width
    opacity: 0.5;
    transition:
      transform 150ms ease-in-out,
      opacity 50ms ease-in-out;
    padding: 2px; // Réduction de la padding

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    &.selected {
      opacity: 1;
    }

    &-container {
      border-radius: 13px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 4px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin: 8px;
      font-family: 'Kimberly Bl', sans-serif;

      & span {
        font-size: 16px; // Réduction de la font size
      }
    }

    &-cell {
      width: 27px; // Réduction de la width
      height: 27px; // Réduction de la height
      background-color: black;
      border-radius: 3px; // Réduction du border-radius
      margin: 2px; // Réduction de la margin
      box-sizing: border-box;

      &.gone {
        background-color: transparent;
      }

      &.base {
        background-color: red;
      }
    }
  }
}