@import '../variables.scss';

.settings {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    font-family: 'Kimberly Bl', sans-serif;
  }

  & select {
    width: 100%;
    height: 100%;
  }

  &-list {
    width: 50%;

    &-item {
      display: flex;
      align-items: center;
      margin: 25px 10px;
      height: 45px;

      // width: 100%;
      &-label {
        width: 30%;
        margin-right: 30px;
        font-family: 'Kimberly Bl', sans-serif;
      }

      &-input {
        width: 70%;
      }
    }
  }

  &-confirm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    & span {
      color: red;
      font-family: 'Kimberly Bl', sans-serif;
    }
  }
}