@import '../variables.scss';
@import '../cardShiny.scss';

.menuShop {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h1,
  p {
    font-family: 'Kimberly Bl', sans-serif;
    text-align: center;
  }

  &-typeSection h2 {
    font-family: 'Kimberly Bl', sans-serif;
    font-size: 35px;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 2px solid white;
    text-align: center;
  }

  & select {
    width: 100%;
    height: 100%;
  }

  &-wrapper {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    position: relative;
  }

  & hr {
    width: 100%;
  }

  &-nav {
    display: flex;
    width: 100%;

    & .hudNavLink {
      width: 33%;
      justify-content: center;
    }
  }

  &-transitionGroup {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .css-transition {
    height: 100%;
  }

  &-list {
    max-height: 79%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Définit un espacement constant entre les éléments */
    // justify-content: space-between; /* Applique un espacement uniforme entre les éléments */
    padding: 0 10px;
    padding-top: 10px;
    &::after {
      content: '';
      flex-grow: 1;
      // max-width: 10px; /* Limite la taille de l'espace fantôme */
    }
    &-wrapper {
      overflow-y: auto;
      height: 90%;
    }

    &-card {
      margin: 0; /* Le gap gère les marges entre éléments */
      font-family: 'Kimberly Bl', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(20% - 10px);
      margin-bottom: 30px;
      & img {
        border: 3px solid white;
        border-radius: 5px;
        transition: transform 150ms ease-in-out;
        border: 3px solid transparent;
        border-radius: 5px;
        position: relative;
        width: 100%;

        &:hover {
          transform: scale(1.05);
          border: 3px solid white;
          cursor: url('../../assets/svg/pointer.svg'), auto;
          opacity: 1 !important;
        }

        &.skin {
          width: 150px;
        }
      }

      &.sold {
        opacity: 0.2 !important;

        & img:hover {
          border: 3px solid transparent;
          transform: none;
        }
      }

      &.Avatar,
      &.Cadre {
        margin: 0 15px;
        margin-bottom: 30px;
        width: calc(15% - 15px);
        & img {
          width: 100%;
        }
      }
      &.Bannière {
        width: calc(20% - 10px);
        & img {
          width: 250px;
        }
      }

      &.Cadre {
        & .skin {
          &-img-container {
            position: relative;
            height: 150px;
            width: 150px;
            & img {
              top: 0;
              position: absolute;
            }
          }
          &-avatar {
            z-index: 0;
          }
          &-main {
            z-index: 1;
          }
        }
      }

      & span {
        display: flex;
        align-items: center;

        & svg {
          margin-right: 5px;
        }

        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px 30px;
        border-radius: 15px;
        margin-bottom: 10px;
      }

      & h1 {
        font-size: 15px;
        text-align: center;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        width: 150px;
        margin: 0;
        margin-top: 10px;
      }

      & h2 {
        font-size: 13px;
        margin: 0;
      }

      & h3 {
        margin: 0;
        font-size: 11px;
      }
    }
  }

  &-coinCount {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kimberly Bl', sans-serif;
    font-size: 30px;
    padding: 5px 50px;
    & svg {
      margin-right: 5px;
    }
  }

  .fade-enter,
  .fade-exit {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .fade-enter {
    opacity: 0;
    transform: translateX(-20px);
  }

  .fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition:
      opacity 300ms,
      transform 300ms;
  }

  .fade-exit {
    opacity: 1;
    transform: translateX(0);
  }

  .fade-exit-active {
    opacity: 0;
    transform: translateX(20px);
    transition:
      opacity 300ms,
      transform 300ms;
  }

  .confirmShop {
    &-card {
      box-shadow: rgba(255, 255, 255, 0.1) 0 0 10px;
      & img {
        width: 400px;
      }
    }

    & h1 {
      margin-top: 10px;
      font-size: 20px;
      display: flex;
      align-items: center;
      & svg {
        margin: 0 5px;
      }
    }

    &-controller {
      display: flex;
      & .hudNavLink {
        margin: 10px 20px;
      }
    }
  }

  .modal {
    z-index: 11;
  }
}

.search-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.541);
  border-radius: 15px;
  padding: 10px 0;
  & select,
  input {
    font-size: 14px;
    max-width: 200px;
    height: 50px;
    padding: 0 10px;
    margin: 0 5px;
  }
}

.patreon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Kimberly Bl', sans-serif;
  padding: 10px 0;
  height: 100%;
  & h1,
  p {
    text-align: center;
  }

  & p {
    font-size: 20px;
    margin: 0;
  }

  & .patreon-warn {
    font-size: 13px;
    width: 450px;
    margin-top: 10px;
  }

  & a {
    padding: 10px 60px;
    border: 2px solid goldenrod;
    border-radius: 15px;
    width: 250px;
    margin-top: 15px;
    font-size: 25px;
    transition: background-color 150ms ease-in-out;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  & .patreon-list {
    display: flex;
    margin-top: 15px;
    &-card {
      margin: 0 5px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px 30px;
      width: 200px;
      height: 180px;
      border-radius: 15px;
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-direction: column;
      & h1 {
        margin: 0;
        margin-top: 5px;
        font-size: 20px;
        text-align: center;
      }

      & h2 {
        margin: 0;
        font-size: 16px;
        text-align: center;
      }

      & h3 {
        margin: 0;
        font-size: 14px;
        text-align: center;
        padding-bottom: 5px;
        // margin-bottom: 15px;
        margin-bottom: auto;
        border-bottom: 2px solid white;
      }
      &-wrapper {
        margin-bottom: auto;
      }
      & img {
        width: 200px;
      }
    }
  }
}

.skin-container {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;

  &.Bannière {
    height: 150px;
    width: auto;
  }
}
