.tutorial {
    &-modal {
        position: absolute;
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        border-radius: 20px;
        max-width: 450px;
        z-index: 11;
        border: white 3px solid;
        transition: top 100ms ease-in-out, left 100ms ease-in-out, right 100ms ease-in-out, bottom 100ms ease-in-out, transform 100ms ease-in-out;

        &-avatar {
            margin-right: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: white 3px solid;
            border-radius: 5px;

            & img {
                width: 100px;
            }
        }

        &-content {
            & .speaker {
                font-family: 'Kimberly Bl', sans-serif;
                font-size: 22px;
            }

            & .text {
                font-size: 16px;
                margin: 0;
                padding: 0;
                line-height: 20px;
            }
        }

        &.center {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.top-left {
            top: 120px;
            left: 20px;
        }

        &.above-hand {
            bottom: 20px;
            left: 50px;
        }

        &.above-buttons {
            right: 20px;
            bottom: 120px;
        }

        &.under-tracker {
            top: 150px;
            left: 50%;
            transform: translateX(-50%);
        }

        &.clickable {
            &:hover {
                cursor: url('../../assets/svg/pointer.svg'), auto;
                ;
            }
        }

        & .next {
            margin-left: 10px;
            width: 50px;
            flex-shrink: 0;
            height: 50px;
            animation: blink 2s ease-in-out infinite both;
        }
    }

    &-win {
        position: absolute;
        z-index: 15;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
    }

    .musicPlayer-container {
        left: -20px;
    }
}