.userProfile {
    padding: 50px;
    display: flex;
    height: calc(90% - 100px);

    & button {
        display: flex;
        align-items: center;
    }

    & .playerBanner {
        margin-top: 15px;
    }


    &-avatar {
        margin-right: 10px;
        width: calc(25% - 10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    &-content,
    &-control,
    &-profile-avatar {
        margin: 10px 5px;
        border-radius: 20px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    & h2.summary-title {
        font-family: 'Kimberly Bl', sans-serif;
        font-size: 30px;
        margin: 5px 10px;
        margin-top: 10px;
    }

    &-profile-avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Kimberly Bl', sans-serif;

        &-name {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;

            & svg {
                margin-right: 5px;
            }

            & h1 {
                font-size: 1.5em;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 200px;

            }
        }

    }

    &-control {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & .hudNavLink {
            margin: 5px;
            width: 100%;
            justify-content: flex-start;
        }
    }

    &-content {
        position: relative;
        overflow-y: auto;
        width: 100%;
        height: 90%;

    }


}